*
{
				margin: 0;
				padding: 0;
}

body
{
				background-color: black;
}
.dil
{
                               text-shadow: 0 0 10px red,0 0 20px red,0 0 40px red;
}
.fa
{
				margin-right: 5px;
				color: #fff;
}

#vdo
{
				margin-right: 5px;
}
.add
{
				background-color: white;
				padding: 3px;
				color: black;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				box-sizing: border-box;
}
.add-to-btn
{
				border: solid 2px black;
				margin-top: 100px;
				background-color: #fff;
}
#yt
{
				height: 230px;
				width: 380px;
				margin: 10px 10px;
				padding: 20px;
				box-sizing: border-box;
				border-radius: 40px;
}
.vdobox
{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				background-color: #181818;
}

p
{
				color: #fff;
				font-family: Courier New;
				font-size: 22px;
				text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff;
}

.intro {
background-color: #181818 ;
color: white;
border: solid silver 2px;
border-radius: 15px;
margin-top: 100px;
margin-bottom: 30px;
padding: 10px;
font-weight: bold;
transition: all 1.5s ease;

}
/* hover */

.intro:hover
{
letter-spacing: 3px;
background-color: #fff;
box-shadow: 0 3px 10px #fff,0 3px 15px #fff;
color: black;
boder: none;
}
